body { background:var(--background) !important };
.fh { color:var(--f_high) !important; stroke:var(--f_high) !important };
.fm { color:var(--f_med) !important ; stroke:var(--f_med) !important };
.fl { color:var(--f_low) !important ; stroke:var(--f_low) !important };
.f_inv { color:var(--f_inv) !important ; stroke:var(--f_inv) !important };
.bh { background:var(--b_high) !important; fill:var(--b_high) !important };
.bm { background:var(--b_med) !important ; fill:var(--b_med) !important };
.bl { background:var(--b_low) !important ; fill:var(--b_low) !important };
.b_inv { background:var(--b_inv) !important ; fill:var(--b_inv) !important };
.b { background:var(--background) !important; }

svg .fill_red { fill:var(--b_inv) !important }
#board card.heart .face { color:var(--b_inv) !important;}
#board card.diamond .face { color:var(--b_inv) !important;}

svg .fill_white { fill:var(--b_high) !important }
#player a.escape { border:2px solid var(--b_high) !important; color: var(--b_high); }
#player a.escape:hover { background-color:var(--b_high) !important; color:var(--background); }
#board card .face { background:var(--b_high)}
.card_11 .face .name,.card_13 .face .name,.card_15 .face .name,.card_17 .face .name { color:var(--b_high);}
#player .gage { color:var(--b_high) }

svg .fill_black { fill:var(--b_med) !important }
#board card.clove .face { color:var(--b_med) !important;}
#board card.spade .face { color:var(--b_med) !important;}
#board card.joker .face { color:var(--b_med) !important;}

svg .stroke_white { stroke:var(--b_high) !important }
svg .stroke_black { stroke:var(--b_med) !important }
svg .stroke_grey { stroke:var(--f_low) !important }
svg .fill_grey { opacity:0.25; fill:var(--b_med) !important }

#table card { background:var(--b_low) !important}
#player .gage .value .unit { color:var(--b_low) !important}
#player .gage .progress { background:var(--b_low) !important }
#tips { color: var(--b_low) !important }
#tips .key { color: var(--b_high) !important }

/* EXTRAS*/
#player .gage.health .progress .bar { background:var(--b_inv) !important  }
#player .gage.shield .progress .bar { background:var(--b_high) !important  }
#player .gage.experience .progress .bar { background:var(--b_med) !important  }
#table card .shortcut { color:var(--background) !important}
#difficulty { color:var(--f_high) !important  }

/* DEATH*/

#player.death a.escape { border-color:var(--b_inv) !important;  }
#player.death a.escape:hover { background-color:var(--b_inv) !important;  }