body { background:black; font-family:monospace;}

#wrapper { display:block; width:900px; height:300px; margin:100px auto;}
#player { }
#player .gage { width: 15%;display: inline-block;color: white;margin-bottom: 20px;line-height: 20px; padding-bottom:15px; position:relative; padding-left:50px;}
#player .gage .name { font-weight:bold; display:block;}
#player .gage .value { display:block;}
#player .gage svg { display:block; width:30px; height:30px; padding:5px; position:absolute; left:0px; top:0px;}
#player .gage svg circle { }
#board { display:block; margin:0px auto;}
#board card { display: inline-block;background: white;height: 300px;width: 200px;margin-right: 15px;border-radius: 7px; position:relative; overflow:hidden; border:1px solid white;}
#board card { top:10px; opacity:0.01;}
#board card.flipped { background:white;}
#board card .verso { display:none;}
#board card .face { display:block;width: 100%;background: white;height: calc(100% - 5px);border-radius: 7px;}
#board card .frame { display: block;width: calc(100% - 20px);height: calc(100% - 20px);margin: 0px auto;position: relative;top: 10px;border: 1px solid #999;border-radius: 4px; }
#board card.flipped .verso { display:block;width: 100%;background: black;height: calc(100% - 5px);border-radius: 7px; border-bottom:1px solid #fff;}
#board card.flipped .face  { display:none;}
#board card .face .value   { display: block;position: absolute;width: 30px;height: 30px;left: 20px;top: 20px;font-size: 20px;}
#board card .face .badge   { display:block; position:absolute; width:100px; height:100px; left:calc(50% - 50px); top:calc(50% - 50px); text-align:center}
#board card .face .icon    { display: block;position: absolute;width: 30px;height: 30px;left: 20px;top: 40px;font-size: 11px; }

#board card.heart .face { color:red;}
#board card.diamond .face { color:red;}