body { background:black; font-family: 'input_mono_regular',monospace; min-width:750px; overflow-y: hidden;}

#wrapper { display: block;max-width: 900px; height: calc(25vw * 1.25 + 90px);max-height:400px;margin:50px auto;position: relative;width: calc(100% - 60px)}

#player { display: block; font-size:12px; height:30px; line-height:20px; max-width:890px; -webkit-user-select: none;-webkit-app-region: drag; padding-top: 100px;margin-top: -120px;}
#player .gage { width: 120px;display: block;height:30px;position: relative; float:right;}
#player .gage .value { display: inline-block;line-height: 20px;font-family: 'input_mono_medium';padding-left: 5px;}
#player .gage .event { display: inline-block;position: absolute;top: -20px;left: 0px;}
#player .gage .progress { display: block !important;width: 40px;position: absolute;bottom: 18px;overflow: hidden;height: 4px;border-radius: 20px;right: 5px;}
#player .gage .progress .bar{ height:5px; display:block !important;}
#player a.escape { padding: 0px 8px;border-radius: 20px;display: inline-block;margin-right: 10px;line-height: 20px; border:2px solid white; margin-top:-2px; color:white;}
#player a.escape:hover { cursor: pointer }
#player div.timeline { display: inline-block;color:white;}

#player.locked a.escape { display:none;}

#board, #table { display:block; position: absolute; margin-top: 15px; width: calc(100% + 15px)}
#board card, #table card { display: inline-block !important;height: calc(25vw * 1.25);max-height:300px;max-width:200px;width: calc(25% - 15px);margin-right: 15px;border-radius: 7px; position:relative; overflow:hidden;min-height: 300px;}
#board card { top:10px; opacity:0.01; z-index:900; }
#board card:hover { cursor:pointer;}
#board card .face { display:block;width: 100%;height: calc(100% - 5px);border-radius: 7px;}
#board card .face img { width:100%; position: absolute;bottom:0px; }
#board card .face .value   { display: block;position: absolute;width: 30px;height: 30px;left: 15px;top: 60px;font-size: 12px;text-align: center;}
#board card .face .graphic svg { display: block;position: absolute;left: calc(50% - 100px);bottom: calc(50% - 150px);}
#board card .face .icon    { display: block;position: absolute;width: 30px;height: 30px;left: 15px;top: 15px;font-size: 11px; z-index:900;}
#board card .face .name    { display: block;position: absolute;bottom: 20px;text-align: center;font-size: 11px;width: 100%;}

#table card { }
#table card .shortcut { position:absolute; right:20px; bottom:15px; color:#555;}

#board card:nth-child(2), #table card:nth-child(2) { position:absolute; left:25%;}
#board card:nth-child(3), #table card:nth-child(3) { position:absolute; left:50%;}
#board card:nth-child(4), #table card:nth-child(4) { position:absolute; left:75%;}

#tips { position: fixed;bottom: 30px;font-size: 12px;width: calc(100% - 70px);max-width: 900px;}
#tips a:hover { color:white;}

#splash { position:fixed; top:0px; left:0px; width:100%; height:100%; background:black; z-index: 9000 }

/* THEME */

body { background:var(--background) !important };
.fh { color:var(--f_high) !important; stroke:var(--f_high) !important };
.fm { color:var(--f_med) !important ; stroke:var(--f_med) !important };
.fl { color:var(--f_low) !important ; stroke:var(--f_low) !important };
.f_inv { color:var(--f_inv) !important ; stroke:var(--f_inv) !important };
.bh { background:var(--b_high) !important; fill:var(--b_high) !important };
.bm { background:var(--b_med) !important ; fill:var(--b_med) !important };
.bl { background:var(--b_low) !important ; fill:var(--b_low) !important };
.b_inv { background:var(--b_inv) !important ; fill:var(--b_inv) !important };
.b { background:var(--background) !important };

svg .fill_red { fill:var(--b_inv) !important }
#board card.heart .face { color:var(--b_inv) !important;}
#board card.diamond .face { color:var(--b_inv) !important;}

svg .fill_white { fill:var(--b_high) !important }
#player a.escape { border:2px solid var(--b_high) !important; color: var(--b_high); }
#board card .face { background:var(--b_high)}
.card_11 .face .name,.card_13 .face .name,.card_15 .face .name,.card_17 .face .name { color:var(--b_high);}
#player .gage { color:var(--b_high) }

svg .fill_black { fill:var(--b_med) !important }
#board card.clove .face { color:var(--b_med) !important;}
#board card.spade .face { color:var(--b_med) !important;}
#board card.joker .face { color:var(--b_med) !important;}

svg .stroke_white { stroke:var(--b_high) !important }
svg .stroke_black { stroke:var(--b_med) !important }
svg .stroke_grey { stroke:var(--f_low) !important }
svg .fill_grey { fill:var(--f_low) !important }

#table card { background:var(--b_low) !important}
#player .gage .value .unit { color:var(--b_low) !important}
#player .gage .progress { background:var(--b_low) !important }
#tips { color: var(--b_low) !important }
#tips .key { color: var(--b_high) !important }

/* EXTRAS*/
#player .gage.health .progress .bar { background:var(--b_inv) !important  }
#player .gage.shield .progress .bar { background:var(--b_high) !important  }
#player .gage.experience .progress .bar { background:var(--b_med) !important  }
#table card .shortcut { color:var(--background) !important}

