body { background:black; font-family: 'input_mono_regular',monospace; min-width:750px; overflow-y: hidden;}

#wrapper { display: block;max-width: 900px; height: calc(25vw * 1.25 + 90px);max-height:400px;margin:50px auto;position: relative;width: calc(100% - 60px)}

#player { display: block; font-size:12px; height:30px; line-height:20px; max-width:890px;}
#player .gage { width: 145px;display: block;height:30px;position: relative; float:right;}
#player .gage .value { display: inline-block;line-height:20px;}
#player .gage .event { display: inline-block;line-height:24px; padding-left:5px;}
#player .gage .progress { display:block !important; height:1px; width:140px; position:absolute; bottom:-1px;}
#player .gage .progress .bar{ height:1px; display:block !important;}
#player a.escape { padding: 0px 8px;border-radius: 20px;display: inline-block;margin-right: 10px;line-height: 20px; border:2px solid white; margin-top:-2px; color:white;}
#player a.escape:hover { cursor: pointer }
#player div.timeline { display: inline-block;color:white;}

#player.locked a.escape { display:none;}

#board, #table { display:block; position: absolute; margin-top: 15px; width: calc(100% + 15px)}
#board card, #table card { display: inline-block !important;height: calc(25vw * 1.25);max-height:300px;max-width:200px;width: calc(25% - 15px);margin-right: 15px;border-radius: 7px; position:relative; overflow:hidden;}
#board card { top:10px; opacity:0.01; z-index:900; min-height: 240px;}
#board card:hover { cursor:pointer;}
#board card .face { display:block;width: 100%;height: calc(100% - 5px);border-radius: 7px;}
#board card .face img { width:100%; position: absolute;bottom:0px; }
#board card .face .value   { display: block;position: absolute;width: 30px;height: 30px;left: 15px;top: 60px;font-size: 12px;text-align: center;}
#board card .face .graphic svg { display: block;position: absolute;left: calc(50% - 100px);bottom: calc(50% - 150px);}
#board card .face .icon    { display: block;position: absolute;width: 30px;height: 30px;left: 15px;top: 15px;font-size: 11px; z-index:900;}
#board card .face .name    { display: block;position: absolute;bottom: 20px;text-align: center;font-size: 11px;width: 100%;}

#table card { }
#table card .shortcut { position:absolute; right:20px; bottom:15px; color:#555;}

#board card:nth-child(2), #table card:nth-child(2) { position:absolute; left:25%;}
#board card:nth-child(3), #table card:nth-child(3) { position:absolute; left:50%;}
#board card:nth-child(4), #table card:nth-child(4) { position:absolute; left:75%;}

#tips { color: #555;position: absolute;bottom:0px;font-size: 12px; width:100%;max-width:900px}
#tips .key { color:#999; }
#tips a:hover { color:white;}

#splash { position:fixed; top:0px; left:0px; width:100%; height:100%; background:black; z-index: 9000 }
